<h1>Guest Info Page</h1>

<p>Guest Name: <%= @guest.name %></p>

<ul>
  <% @guest.rooms.each do |room| %>
  <div id="room-<%= room.id %>">
  <p>Suite: <%= room.suite %></p>
  <p>Rate: $<%= room.rate %></p>
  <p>Hotel: <%= room.hotel.name %></p>
  </div>
  <% end %>
</ul>

<%= form_with url: "/guests/#{@guest.id}/rooms", method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.label :room_id %>
  <%= form.text_field :room_id %>
  <%= form.submit "Add Room" %>
<% end %>